@use "../custom" as *;
@use "../components/mixin" as *;

.main-nav {
  li:hover {
    background-color: $cta-hover;
  }
  .nav-content {
    background: $cta;
    margin-top: -1rem;
    padding: 4rem 8rem;

    @media (max-width: $lg) {
      padding: 3rem 5rem;
    }
    @media (max-width: $md) {
      padding: 2rem 3rem;
    }
  }

  .navbar-toggler {
    color: $white;
    border-color: transparent !important;
    &:active,
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  li {
    padding: 0 1rem;
    a {
      color: $white !important;
      text-transform: capitalize;
      font-weight: 400;
    }
    .dropdown-menu {
      background-color: $cta;
      .dropdown-item {
        transition: all 0.3s ease-out;
        &:hover {
          background-color: $cta-hover;
        }
      }
    }
  }
}
