@use "../custom" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading;
  font-family: $font-family-title;
  font-weight: 700 !important;
}
p {
  color: $body-copy;

  font-family: $font-family-title;
}

.mt-n6 {
  margin-top: -7rem;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: $white;
}
